In [4]:
import os
import csv
import pandas as pd
# Get the current working directory (where your .ipynb file is saved)
folder_path = os.getcwd()

# Define the delimiter used in the .txt files (can be adjusted if needed)
actual_delimiter = ','  # Adjust if needed

# Loop through all files in the current folder
for filename in os.listdir(folder_path):
    # Check if the file has a .txt extension
    if filename.endswith('.txt'):
        # Construct the full path to the .txt file
        txt_file_path = os.path.join(folder_path, filename)
        
        # Create the corresponding .csv file path
        csv_file_path = os.path.join(folder_path, filename.replace('.txt', '.csv'))

        # Open both the input .txt file and the output .csv file
        with open(txt_file_path, 'r', encoding='utf-8') as txt_file, open(csv_file_path, 'w', newline='', encoding='utf-8') as csv_file:
            # Create a CSV reader to parse lines using the specified delimiter
            reader = csv.reader(txt_file, delimiter=actual_delimiter)
            
            # Create a CSV writer to write rows into the .csv file
            writer = csv.writer(csv_file)
            
            # Copy each row from the .txt file into the .csv file
            for row in reader:
                writer.writerow(row)

# Notify that the conversion is complete
print(" Conversion complete. Files saved in the same folder as this notebook.")

 Conversion complete. Files saved in the same folder as this notebook.

In [5]:

# Load datasets
demo = pd.read_csv('df_final_demo.csv')
experiment = pd.read_csv('df_final_experiment_clients.csv')
web1 = pd.read_csv('df_final_web_data_pt_1.csv')
web2 = pd.read_csv('df_final_web_data_pt_2.csv')

#Standardize formatting:
datasets = [demo, experiment, web1, web2]
for df in datasets:
    df.columns = df.columns.str.lower().str.strip()

# Merge web1 and web2
web = pd.concat([web1, web2], ignore_index=True)
web.drop_duplicates(inplace=True)

web.to_csv("web.csv", index=False)
print(" Merging complete and saved as web.csv")

 Merging complete and saved as web.csv

In [6]:
print(f' \n demo: \n {demo.head()}')
print(f' \n experiment: \n {experiment.head()}')
print(f' \n web: \n {web.head()}')
print(f' \n demo shape: \n {demo.shape}')
print(f' \n experiment shape: \n {experiment.shape}')
print(f' \n web shape: \n {web.shape}')

 demo:
    client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
0     836976             6.0              73.0      60.5     U        2.0
1    2304905             7.0              94.0      58.0     U        2.0
2    1439522             5.0              64.0      32.0     U        2.0
3    1562045            16.0             198.0      49.0     M        2.0
4    5126305            12.0             145.0      33.0     F        2.0

         bal  calls_6_mnth  logons_6_mnth
0   45105.30           6.0            9.0
1  110860.30           6.0            9.0
2   52467.79           6.0            9.0
3   67454.65           3.0            6.0
4  103671.75           0.0            3.0

 experiment:
    client_id variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

 web:
    client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

 demo shape:
 (70609, 9)

 experiment shape:
 (70609, 2)

 web shape:
 (744641, 5)

In [7]:
#Standardize column names

def standardize_columns(df):
    df.columns = (
        df.columns
        .str.strip()                        # Remove leading/trailing spaces
        .str.lower()                        # Convert to lowercase
        .str.replace(' ', '_', regex=False) # Replace spaces with underscores
        .str.replace(r'\W', '', regex=True) # Remove special characters
    )
    return df


# Apply to all three DataFrames
demo = standardize_columns(demo)
experiment = standardize_columns(experiment)
web = standardize_columns(web)


# Define the rename mappings
demo = demo.rename(columns=        {'clnt_tenure_yr': 'tenure_year',
                                   'clnt_tenure_mnth': 'tenure_month', 
                                   'clnt_age': 'age',
                                   'gendr': 'gender', 
                                   'num_accts': 'num_accounts', 
                                   'bal':'balance', 
                                   'calls_6_mnth':'calls_6_months',
                                   'logons_6_mnth':'logons_6_months'})

In [8]:
# Quick structure check
for name, df in zip(['demo', 'experiment', 'web'], [demo, experiment, web]):
    print(f'\n{name.upper()} INFO:')
    print(df.info())
    print(df.describe(include="all"))

DEMO INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   client_id        70609 non-null  int64
 1   tenure_year      70595 non-null  float64
 2   tenure_month     70595 non-null  float64
 3   age              70594 non-null  float64
 4   gender           70595 non-null  object
 5   num_accounts     70595 non-null  float64
 6   balance          70595 non-null  float64
 7   calls_6_months   70595 non-null  float64
 8   logons_6_months  70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB
None
           client_id   tenure_year  tenure_month           age gender  \
count   7.060900e+04  70595.000000  70595.000000  70594.000000  70595
unique           NaN           NaN           NaN           NaN      4
top              NaN           NaN           NaN           NaN      U
freq             NaN           NaN           NaN           NaN  24122
mean    5.004992e+06     12.052950    150.659367     46.442240    NaN
std     2.877278e+06      6.871819     82.089854     15.591273    NaN
min     1.690000e+02      2.000000     33.000000     13.500000    NaN
25%     2.519329e+06      6.000000     82.000000     32.500000    NaN
50%     5.016978e+06     11.000000    136.000000     47.000000    NaN
75%     7.483085e+06     16.000000    192.000000     59.000000    NaN
max     9.999839e+06     62.000000    749.000000     96.000000    NaN

        num_accounts       balance  calls_6_months  logons_6_months
count   70595.000000  7.059500e+04    70595.000000     70595.000000
unique           NaN           NaN             NaN              NaN
top              NaN           NaN             NaN              NaN
freq             NaN           NaN             NaN              NaN
mean        2.255528  1.474452e+05        3.382478         5.566740
std         0.534997  3.015087e+05        2.236580         2.353286
min         1.000000  1.378942e+04        0.000000         1.000000
25%         2.000000  3.734683e+04        1.000000         4.000000
50%         2.000000  6.333290e+04        3.000000         5.000000
75%         2.000000  1.375449e+05        6.000000         7.000000
max         8.000000  1.632004e+07        7.000000         9.000000

EXPERIMENT INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB
None
           client_id variation
count   7.060900e+04     50500
unique           NaN         2
top              NaN      Test
freq             NaN     26968
mean    5.004992e+06       NaN
std     2.877278e+06       NaN
min     1.690000e+02       NaN
25%     2.519329e+06       NaN
50%     5.016978e+06       NaN
75%     7.483085e+06       NaN
max     9.999839e+06       NaN

WEB INFO:
<class 'pandas.core.frame.DataFrame'>
Index: 744641 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     744641 non-null  int64
 1   visitor_id    744641 non-null  object
 2   visit_id      744641 non-null  object
 3   process_step  744641 non-null  object
 4   date_time     744641 non-null  object
dtypes: int64(1), object(4)
memory usage: 34.1+ MB
None
           client_id             visitor_id                     visit_id  \
count   7.446410e+05                 744641                       744641
unique           NaN                 130236                       158095
top              NaN  699275239_82397698587  712824876_8175482950_365042
freq             NaN                     74                           61
mean    5.014059e+06                    NaN                          NaN
std     2.879588e+06                    NaN                          NaN
min     1.690000e+02                    NaN                          NaN
25%     2.521851e+06                    NaN                          NaN
50%     5.031965e+06                    NaN                          NaN
75%     7.497388e+06                    NaN                          NaN
max     9.999875e+06                    NaN                          NaN

       process_step            date_time
count        744641               744641
unique            5               629363
top           start  2017-03-29 11:24:54
freq         234999                   14
mean            NaN                  NaN
std             NaN                  NaN
min             NaN                  NaN
25%             NaN                  NaN
50%             NaN                  NaN
75%             NaN                  NaN
max             NaN                  NaN

In [9]:
#Check unique values in each DataFrame

# List of the dataframes
dataframes = {'demo': demo, 'experiment': experiment, 'web': web}
# Loop through each DataFrame and its columns
for name, df in dataframes.items():
    print(f"\n--- Unique values in {name} ---")
    for col in df.columns:
        print(f"\n{col} - Unique values:")
        print(df[col].unique())

--- Unique values in demo ---

client_id - Unique values:
[ 836976 2304905 1439522 ...  333913 1573142 5602139]

tenure_year - Unique values:
[ 6.  7.  5. 16. 12. 30. 15.  8.  4.  3. 10. 11. 13. 14. 19. 18. 25. 23.
 21. 17.  9. 27. 24. 20. 28. 22. 29. 46. 26. 32. 33. 35.  2. 38. 31. 48.
 34. 36. 51. nan 47. 49. 37. 39. 40. 55. 42. 44. 43. 50. 54. 41. 45. 52.
 62.]

tenure_month - Unique values:
[ 73.  94.  64. 198. 145.  71.  66. 361. 369. 189. 100.  99.  67. 193.
  58.  47. 122. 136. 101. 103.  70. 152. 160.  80.  88.  86.  65.  68.
  93.  85. 168. 142. 228. 223. 305. 286. 285. 280. 254. 253. 278. 221.
 216. 212. 204. 260. 116. 130. 177. 159. 190.  89.  91. 129. 329.  92.
  82. 169. 239.  69. 178.  95.  63. 187. 288. 261. 251. 250.  56.  60.
 123. 175. 188.  59. 336. 149. 156. 330. 155. 167.  96. 242. 163.  81.
 182. 134. 113. 172. 120. 105. 271. 244. 200. 157.  78. 151. 121. 184.
 335. 357. 111. 185.  76. 148.  97.  83. 347. 324. 162. 194.  74. 186.
 300. 289. 295. 282. 270. 246. 229. 206. 109. 343. 176. 144. 161. 179.
 106. 154. 119.  75. 166. 143. 202. 326. 298. 290. 279. 252.  57. 334.
 150.  46. 114. 174.  72. 107. 164. 131. 554. 140. 118. 292. 273. 257.
 225. 128. 135. 258. 126. 359. 210. 263. 262. 255. 214. 310. 141. 319.
 395. 108. 181. 173.  55. 203. 297. 213. 183. 115. 117. 299. 287. 269.
 222. 195. 127. 245. 110. 102.  54. 277. 276. 274. 249. 147. 153.  84.
 132. 312.  79. 146. 346. 348. 332. 170. 267. 191.  38. 205. 265. 264.
 234. 233. 208.  53. 399. 197. 139.  61. 124. 165. 236. 219. 215. 226.
 388. 421. 192. 306. 266. 240. 231. 180. 296.  87. 158. 227. 196. 199.
  34. 397.  90. 349.  42. 424. 337. 207. 104. 338. 137. 201.  62. 294.
 230. 220. 209.  49. 321. 345. 138.  33. 238. 459. 171. 355.  98. 237.
 235. 370. 352.  48. 303. 259. 218. 322. 428. 247. 241. 341. 302. 217.
 360. 385. 383. 576. 293. 243. 350. 340.  36. 256. 323. 354. 232. 318.
 313.  51.  77. 430. 420. 268. 275. 317. 339.  35. 327. 407. 301. 133.
 211. 125. 112.  43. 281.  45. 316.  40. 325. 291. 368. 384. 248. 382.
 314. 408. 284. 283. 376. 304. 309. 356. 394. 386. 311. 419. 411. 406.
 409. 464. 224. 333. 371. 358. 401. 320. 413. 375. 422. 272.  52. 342.
 307. 328. 381. 434. 353. 612. 400.  50. 344. 367. 415. 364. 374. 416.
 391. 431.  nan 423. 396. 315. 378.  44. 379. 569. 596. 393. 392.  41.
 362. 451. 439. 331. 468. 418. 442. 389.  37. 481. 366. 351. 390. 402.
 463.  39. 432. 403. 417. 461. 380. 482. 460. 372. 308. 373. 465. 404.
 412. 387. 561. 669. 429. 585. 414. 365. 427. 504. 433. 444. 456. 410.
 441. 512. 445. 539. 516. 363. 454. 589. 425. 377. 457. 443. 398. 484.
 473. 507. 475. 449. 668. 602. 405. 446. 608. 447. 440. 453. 613. 462.
 483. 479. 562. 485. 655. 448. 472. 564. 526. 532. 511. 492. 426. 593.
 455. 450. 581. 550. 624. 571. 563. 469. 661. 436. 610. 586. 535. 603.
 631. 509. 614. 466. 667. 749. 480.]

age - Unique values:
[60.5 58.  32.  49.  33.  30.5 58.5 57.5 67.5 54.5 34.5 51.5 62.5 36.
 74.  32.5 31.  25.5 42.5 42.  30.  55.  38.  68.5 52.5 54.  63.  48.
 66.5 68.  65.  51.  46.  63.5 23.  26.5 56.5 76.5 27.5 39.5 25.  27.
 60.  66.  39.  56.  40.  52.  31.5 43.5 35.  19.  64.5 64.  22.5 33.5
 36.5 61.  40.5 72.  44.5 28.5 59.5 45.  18.  78.  50.5 29.  37.5 57.
 70.  74.5 22.  50.  53.  62.  65.5 29.5 28.  69.5 35.5 71.5 34.  38.5
 69.  43.  83.5 21.5 47.  61.5 73.5 71.  59.  21.  44.  83.  47.5 72.5
 76.  78.5 55.5 67.  41.5 20.5 75.  24.  79.  26.  41.  23.5 49.5 46.5
 45.5 48.5 24.5 75.5 80.  73.  87.  19.5 53.5 18.5 70.5 80.5 86.  37.
 85.  17.5 82.  20.  77.5 77.  79.5 88.5 96.  81.  81.5 88.  84.   nan
 94.5 89.  92.  82.5 91.5 85.5 95.5 84.5 90.  89.5 93.  90.5 87.5 93.5
 86.5 91.  17.  94.  92.5 15.5 16.  16.5 14.5 15.  14.  13.5]

gender - Unique values:
['U' 'M' 'F' nan 'X']

num_accounts - Unique values:
[ 2.  5.  3.  4.  6.  7. nan  1.  8.]

balance - Unique values:
[ 45105.3  110860.3   52467.79 ...  40745.   475114.69 157498.73]

calls_6_months - Unique values:
[ 6.  3.  0.  2.  1.  5.  4. nan  7.]

logons_6_months - Unique values:
[ 9.  6.  3.  5.  4.  8.  7. nan  1.  2.]

--- Unique values in experiment ---

client_id - Unique values:
[9988021 8320017 4033851 ...  266828 1266421 9895983]

variation - Unique values:
['Test' 'Control' nan]

--- Unique values in web ---

client_id - Unique values:
[9988021 8320017 4033851 ... 9895983 9668240  674799]

visitor_id - Unique values:
['580560515_7732621733' '39393514_33118319366' '762728880_76361333336' ...
 '473024645_56027518531' '388766751_9038881013' '947159805_81558194550']

visit_id - Unique values:
['781255054_21935453173_531117' '960651974_70596002104_312201'
 '949661017_22392791362_127391' ... '172141804_88150434297_748843'
 '922267647_3096648104_968866' '86152093_47511127657_716022']

process_step - Unique values:
['step_3' 'step_2' 'step_1' 'start' 'confirm']

date_time - Unique values:
['2017-04-17 15:27:07' '2017-04-17 15:26:51' '2017-04-17 15:19:22' ...
 '2017-05-24 18:48:02' '2017-05-24 18:44:51' '2017-06-03 12:17:09']

In [10]:
# Null values check
print("demo null counts:\n", demo.isna().sum(), "\n")
print("experiment null counts:\n", experiment.isna().sum(), "\n")
print("web null counts:\n", web.isna().sum(), "\n")

demo null counts:
 client_id           0
tenure_year        14
tenure_month       14
age                15
gender             14
num_accounts       14
balance            14
calls_6_months     14
logons_6_months    14
dtype: int64

experiment null counts:
 client_id        0
variation    20109
dtype: int64

web null counts:
 client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [11]:
#Convert columns to appropriate dtypes

cols_to_convert = ['num_accounts','calls_6_months', 'logons_6_months']  # replace with your actual column names

demo[cols_to_convert] = demo[cols_to_convert].astype('Int64')  # allows NaNs

In [12]:
# Duplicates check
print(demo.duplicated().sum())
print(web.duplicated().sum())
print(experiment.duplicated().sum())

0
0
0

In [13]:
print("demo:")
print(demo.dtypes)
print("\nexperiment:")
print(experiment.dtypes)
print("\nweb:")
print(web.dtypes)

demo:
client_id            int64
tenure_year        float64
tenure_month       float64
age                float64
gender              object
num_accounts         Int64
balance            float64
calls_6_months       Int64
logons_6_months      Int64
dtype: object

experiment:
client_id     int64
variation    object
dtype: object

web:
client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [14]:
demo['gender']

0        U
1        U
2        U
3        M
4        F
        ..
70604    U
70605    M
70606    F
70607    M
70608    F
Name: gender, Length: 70609, dtype: object

In [15]:

demo['gender'] = demo['gender'].astype(str).str.strip().str.upper()
gender_map = {
    'M': 'male',
    'F': 'female',
    'U': 'unknown',
    'X': 'unknown',  # Treat 'X' the same as 'U'
    'NAN': 'unknown',
}
demo['gender'] = demo['gender'].map(gender_map)

In [16]:
demo['gender'].unique()

array(['unknown', 'male', 'female'], dtype=object)

In [17]:
# Remove rows where TenureYears > 42
demo = demo[demo['tenure_year'] <= 42]

demo

,client_id,tenure_year,tenure_month,age,gender,num_accounts,balance,calls_6_months,logons_6_months
0,836976,6.0,73.0,60.5,unknown,2,45105.30,6,9
1,2304905,7.0,94.0,58.0,unknown,2,110860.30,6,9
2,1439522,5.0,64.0,32.0,unknown,2,52467.79,6,9
3,1562045,16.0,198.0,49.0,male,2,67454.65,3,6
4,5126305,12.0,145.0,33.0,female,2,103671.75,0,3
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,unknown,3,1411062.68,5,5
70605,8981690,12.0,148.0,31.0,male,2,101867.07,6,6
70606,333913,16.0,198.0,61.5,female,2,40745.00,3,3
70607,1573142,21.0,255.0,68.0,male,3,475114.69,4,4
70608,5602139,21.0,254.0,59.5,female,3,157498.73,7,7

In [18]:
experiment['variation'] = experiment['variation'].str.lower()
experiment['variation'].unique()

array(['test', 'control', nan], dtype=object)

In [19]:
experiment['variation'].value_counts(dropna=False)

variation
test       26968
control    23532
NaN        20109
Name: count, dtype: int64

In [20]:
experiment['variation'] = experiment['variation'].fillna('unknown')
experiment['variation'].unique()

array(['test', 'control', 'unknown'], dtype=object)

In [21]:
web['date_time'] = pd.to_datetime(web['date_time'])

In [22]:
web[['visitor_id', 'visit_id', 'process_step']] = web[['visitor_id', 'visit_id', 'process_step']].apply(lambda col: col.str.strip().str.lower())

In [23]:
# Original DataFrames stored in a dictionary
dfs = {
    "demo": demo,
    "dexperiment": experiment,
    "web": web
}

# Drop nulls from each DataFrame
for name in dfs:
    dfs[name] = dfs[name].dropna()
    print(f"\nNull values in {name}:")
    print(dfs[name].isnull().sum())

Null values in demo:
client_id          0
tenure_year        0
tenure_month       0
age                0
gender             0
num_accounts       0
balance            0
calls_6_months     0
logons_6_months    0
dtype: int64

Null values in dexperiment:
client_id    0
variation    0
dtype: int64

Null values in web:
client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [24]:
# Merge demo + experiment
base = pd.merge(demo, experiment, on='client_id', how='left') # Chose left to keep all clients from demo (even those not in the experiment).


# Merge with web Data
merged = pd.merge(web, base, on='client_id', how='inner') # This links every web event to client demographics and the A/B test group.



print(merged.shape)
print(merged.columns)

(443365, 14)
Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time',
       'tenure_year', 'tenure_month', 'age', 'gender', 'num_accounts',
       'balance', 'calls_6_months', 'logons_6_months', 'variation'],
      dtype='object')

In [25]:
#check null values 
null_counts = base.isnull().sum()
print("\nNull Value Counts:")
print(null_counts)

Null Value Counts:
client_id          0
tenure_year        0
tenure_month       0
age                1
gender             0
num_accounts       0
balance            0
calls_6_months     0
logons_6_months    0
variation          0
dtype: int64

In [26]:
#drop null values
base = base.dropna(subset=['age'])

In [27]:
#check null values 
null_counts = base.isnull().sum()
print("\nNull Value Counts:")
print(null_counts)

Null Value Counts:
client_id          0
tenure_year        0
tenure_month       0
age                0
gender             0
num_accounts       0
balance            0
calls_6_months     0
logons_6_months    0
variation          0
dtype: int64

In [28]:
#check null values 
null_counts = merged.isnull().sum()
print("\nNull Value Counts:")
print(null_counts)

Null Value Counts:
client_id           0
visitor_id          0
visit_id            0
process_step        0
date_time           0
tenure_year         0
tenure_month        0
age                12
gender              0
num_accounts        0
balance             0
calls_6_months      0
logons_6_months     0
variation           0
dtype: int64

In [29]:
#drop null values
merged = merged.dropna(subset=['age'])

In [30]:
#check null values 
null_counts = merged.isnull().sum()
print("\nNull Value Counts:")
print(null_counts)

Null Value Counts:
client_id          0
visitor_id         0
visit_id           0
process_step       0
date_time          0
tenure_year        0
tenure_month       0
age                0
gender             0
num_accounts       0
balance            0
calls_6_months     0
logons_6_months    0
variation          0
dtype: int64

In [31]:
merged.duplicated().sum()

np.int64(0)

In [32]:
demo.to_csv("demo.csv", index=False)
print(" Merging complete and saved as demo.csv")
base.to_csv("base.csv", index=False)
print(" Merging complete and saved as base.csv")
merged.to_csv('vanguard_merged.csv', index=False, encoding='utf-8')
print(" Merging complete and saved as vanguard_merged.csv")

 Merging complete and saved as demo.csv
 Merging complete and saved as base.csv
 Merging complete and saved as vanguard_merged.csv